/apps/bird_watch/*.pyc
/apps/__pycache__/*
/apps/bird_watch/__pycache__/*
/apps/bird_watch/databases/*
/apps/bird_watch/!databases/README.md
/apps/.service/service.storage
.vscode/
submission.zip
zipit.py
