[[extend 'layout.html']]

<style>
[v-cloak] {
    display: none;
}
</style>

<!-- Include Bulma CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.3/css/bulma.min.css">
<div class="section" id="app" v-cloak>
    <div class="level">
        <div class="level-left">
            <button class="button is-danger" @click="checklists_redirect()">Back</button>
        </div>
        <div class="level-right">
            <button class="button is-primary" id="addButton" @click="openModal()">
                <i class="fa-solid fa-plus"></i> Add New Bird
            </button>
        </div>
    </div>
    <div class="modal" :class="{'is-active': showModal}">
        <div class="modal-background"></div>
            <div class="modal-content">
            <!-- Any other Bulma elements you want -->
                <div class="box">
                    [[=form]]
                </div>
            </div>
        <button class="modal-close is-large" aria-label="close" @click="closeModal()"></button>
    </div>
    [[=grid]]
</div>

[[block page_scripts]]
<!-- Loads the index-specific js for Vue -->
<script>
    let show_modal = [[=showModal]];
    let handle_redirect_checklists_url = "[[=XML(handle_redirect_checklists_url)]]";
</script>
<script src="js/checklist_sightings.js"></script>
[[end]]
