[[extend 'layout.html']]

<style>
[v-cloak] {
    display: none;
}

</style>

<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
      integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
      crossorigin=""/>

<div class="section">
    <div id="app" v-cloak>
        <!-- Put your Vue.js template here -->
        <div class="card mb-4">
            <div class="card-content">
                <nav class="navbar" role="navigation" aria-label="main navigation">
                    <div class="navbar-brand">
                        <a class="navbar-item" href="#">
                            <h1 class="title"><i class="fa-solid fa-dove"></i> Stats</h1>
                        </a>
                        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
                            <span aria-hidden="true"></span>
                            <span aria-hidden="true"></span>
                            <span aria-hidden="true"></span>
                        </a>
                    </div>
                    <div id="navbarBasicExample" class="navbar-menu">
                        <div class="navbar-end">
                            <a class="navbar-item" @click="stats_redirect">Stats</a>
                            <a class="navbar-item" @click="checklists_redirect">Checklists</a>
                            <a class="navbar-item" @click="locations_redirect">Locations</a>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
        <div class="columns">
            <div class="column card is-one-third">
                <div class="field has-addons">
                    <div class="control is-expanded">
                        <input class="input" type="text" v-model="search_query" placeholder="Search species">
                    </div>
                    <div class="control">
                        <button class="button is-primary" @click="search_table">
                            <i class="fa-solid fa-magnifying-glass"></i>
                        </button>
                    </div>
                </div>
                <table class="table is-fullwidth is-hoverable is-striped">
                    <tr>
                        <th></th>
                        <th>Bird Species</th>
                        <th>Count</th>
                        <th>Last Seen
                            <i v-if="sort_most_recent && !is_loading" class="fa fa-sort-amount-desc ml-1 is-clickable" @click="update_sort_by"></i>
                            <i v-if="!sort_most_recent && !is_loading" class="fa fa-sort-amount-asc ml-1 is-clickable" @click="update_sort_by"></i>
                            <i v-if="is_loading" class="button ml-1 is-loading is-small"></i>
                        </th>
                    </tr>
                    <tr v-for="(bird, row) in selected_stats" :key="row">
                        <th>{{(page_number - 1) * items_per_page + row + 1}}</th>
                        <td v-if="!chart_loading" class="is-clickable" @click="display_data(bird.sightings.id)">{{bird.sightings.name}}</td>
                        <td v-else>
                            <i class="button is-loading is-small"></i>
                        </td>
                        <td>{{bird.count}}</td>
                        <td>{{bird.date}}</td>
                    </tr>
                </table>
                <nav class="pagination is-right is-rounded is-small" role="navigation" aria-label="pagination">
                    <ul class="pagination-list">
                        <button 
                            class="button pagination-previous"
                            :disabled="first_page"
                            @click="update_page(-1)"
                        >
                            Previous
                        </button>
                        <button 
                            class="button pagination-next"
                            :disabled="last_page"
                            @click="update_page(1)"
                        >
                            Next
                        </button>
                    </ul>
                </nav>
            </div>
            <div class="column is-two-thirds">
                <div class="card">
                    <div class="card-content">
                        <div class="media">
                            <div class="media-left">
                                <figure class="image is-48x48">
                                    <img
                                        src="https://bulma.io/assets/images/placeholders/96x96.png"
                                        alt="Placeholder image"
                                    />
                                </figure>
                            </div>
                            <div class="media-content">
                                <p class="title is-4">[[=observer]]</p>
                                <p class="subtitle is-6">[[=observer_email]]</p>
                            </div>
                        </div>
                    </div>   
                </div>
                <div class="card mt-2">
                    <div class="card-content">
                        <div class="columns">
                            <div class="column is-one-third has-text-centered">
                                <h1 class="header">Species Observed</h1>
                                <p>{{unique_bird_count}}</p>
                            </div>
                            <div class="column is-one-third has-text-centered">
                                <h1 class="header">Number of Birds Seen</h1>
                                <p>{{total_bird_count}}</p>
                            </div>
                            <div class="column is-one-third has-text-centered">
                                <h1 class="header">Time Observed</h1>
                                <p>{{ format_time }}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-content">
                        <canvas id="birdChart"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

[[block page_scripts]]
<!-- Loads the index-specific JS for Vue -->
<script>
let my_callback_url = "[[=XML(my_callback_url)]]";
let get_stats_url = "[[=XML(get_stats_url)]]";
let get_card_data_url = "[[=XML(get_card_data_url)]]";
let display_data_url = "[[=XML(display_data_url)]]";
let handle_redirect_stats_url = "[[=XML(handle_redirect_stats_url)]]";
let handle_redirect_locations_url = "[[=XML(handle_redirect_locations_url)]]";
let handle_redirect_checklists_url = "[[=XML(handle_redirect_checklists_url)]]";
</script>
<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
        integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
        crossorigin=""></script>
<script src="js/stats.js"></script>
<script src="js/leaflet-heat.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
[[end]]
